body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.form-signin {
  max-width: 450px;
  padding: 40px;
  margin: 0 auto;

  outline: 2px solid #000000;
  -moz-outline-radius: 100px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin-heading{
  color: #5AB99B;
  text-align:  center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
  border-color: #5ab99b;
}
.form-signin .form-control:focus {
  border-color: #5ab99b;
  z-index: 2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90, 185, 155, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90, 185, 155, 0.6);
}
.form-signin input[type="email"]{
  margin-bottom: 20px;
}
.form-signin input[type="text"] {
  margin-bottom: 20px;
}
.form-signin input[type="date"] {
  margin-bottom: 20px;
  height: 58px;
  color: #6f6f6f;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
}
.btn-primary{
  background-color: #5ab99b !important;
  border-color: #5ab99b !important;
  color: white;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited{
  background-color: #5ab99b;
  border-color: #5ab99b;
  color: white;
}
