body {
  padding-top: 0px;
  padding-bottom: 30px;
  font-size: 100%;
  font-family: 'Roboto', Arial;
}

.container{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*.navbar-default {*/
/*  background-color: #f8f8f8;*/
/*  border-color: #e7e7e7;*/
/*}*/
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0f0f0f;
  background-color: #70c6b6;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #70c6b6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #70c6b6;
}



/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5ab99b;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #5ab99b;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5ab99b;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5ab99b;
  background-color: #f6f9fb;
  border-left: 2px solid #5ab99b;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.btn-danger{
  background-color: #dc1e60;
}

.btn-success{
  background-color: #5ab99b;
}

/*.theme-showcase .navbar .container {*/
/*  width: auto;*/
/*}*/

/*.navbar-inverse{*/
/*  background-color: #fff;*/
/*  border-color: #fff;*/
/*}*/
/*.navbar-inverse .navbar-brand {*/
/*  color: #5ab99b;*/
/*}*/
/*.navbar-inverse .navbar-brand:hover,*/
/*.navbar-inverse .navbar-brand:focus {*/
/*  color: #5ab99b;*/
/*  background-color: transparent;*/
/*}*/
/*.navbar-inverse .navbar-text {*/
/*  color: #5ab99b;*/
/*}*/
/*.navbar-inverse .navbar-nav > li > a {*/
/*  color: #5ab99b;*/
/*}*/
/*.navbar-inverse .navbar-nav > li > a:hover,*/
/*.navbar-inverse .navbar-nav > li > a:focus {*/
/*  color: #5ab99b;*/
/*  background-color: transparent;*/
/*}*/
/*.navbar-inverse .navbar-nav > .active > a,*/
/*.navbar-inverse .navbar-nav > .active > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:focus {*/
/*  color: #5ab99b;*/
/*  background-color: #fff;*/
/*}*/
/*.navbar-inverse .navbar-nav > .disabled > a,*/
/*.navbar-inverse .navbar-nav > .disabled > a:hover,*/
/*.navbar-inverse .navbar-nav > .disabled > a:focus {*/
/*  color: #444;*/
/*  background-color: transparent;*/
/*}*/
/*.navbar-inverse .navbar-toggle {*/
/*  border-color: #333;*/
/*}*/
/*.navbar-inverse .navbar-toggle:hover,*/
/*.navbar-inverse .navbar-toggle:focus {*/
/*  background-color: #333;*/
/*}*/
/*.navbar-inverse .navbar-toggle .icon-bar {*/
/*  background-color: #5ab99b;*/
/*}*/
/*.navbar-inverse .navbar-collapse,*/
/*.navbar-inverse .navbar-form {*/
/*  border-color: #101010;*/
/*}*/
/*.navbar-inverse .navbar-nav > .open > a,*/
/*.navbar-inverse .navbar-nav > .open > a:hover,*/
/*.navbar-inverse .navbar-nav > .open > a:focus {*/
/*  color: #5ab99b;*/
/*  background-color: #080808;*/
/*}*/


